In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-3.0.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (79 kB)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-3.0.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (10.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 24.6 MB/s  0:00:00 eta 0:00:0136m0:00:01
Installing collected packages: pandas
Successfully installed pandas-3.0.0

In [15]:
data = {
    "Name": ["Madina", "Isak", "Meruert", "Nurislam", "Nazgul"],
    "Age": [19, 22, 21, 20, 23],
    "Score": [95, 60, 0, 90, 99]
}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

DataFrame:
        Name  Age  Score
0    Madina   19     95
1      Isak   22     60
2   Meruert   21      0
3  Nurislam   20     90
4    Nazgul   23     99

In [16]:
print("First 3 rows:\n", df.head(3))

First 3 rows:
       Name  Age  Score
0   Madina   19     95
1     Isak   22     60
2  Meruert   21      0

In [17]:
print("\nSummary statistics:\n", df.describe())

Summary statistics:
              Age      Score
count   5.000000   5.000000
mean   21.000000  68.800000
std     1.581139  41.408936
min    19.000000   0.000000
25%    20.000000  60.000000
50%    21.000000  90.000000
75%    22.000000  95.000000
max    23.000000  99.000000

In [18]:
average_score = df['Score'].mean()
print("\nAverage Score:", average_score)

Average Score: 68.8

In [19]:
older_students = df[df['Age'] > 20]
print("\nStudents older than 20:\n", older_students)

Students older than 20:
       Name  Age  Score
1     Isak   22     60
2  Meruert   21      0
4   Nazgul   23     99

In [20]:
high_score_students = df[df['Score'] > 80]
print("\nStudents with score above 80:\n", high_score_students)

Students with score above 80:
        Name  Age  Score
0    Madina   19     95
3  Nurislam   20     90
4    Nazgul   23     99